trunk/csharp/urakawa-sdk/1.0/xukschema/xuk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified"
 targetNamespace="http://www.daisy.org/urakawa/xuk/1.0"
 xmlns="http://www.daisy.org/urakawa/xuk/1.0"
 xmlns:xuk="http://www.daisy.org/urakawa/xuk/1.0">
	<xs:include schemaLocation="channels.xsd"/>
	<xs:include schemaLocation="xml.xsd"/>
	<xs:include schemaLocation="media.xsd"/>
	<xs:include schemaLocation="mediadata.xsd"/>
	<xs:include schemaLocation="undo.xsd"/>
	<xs:include schemaLocation="metadata.xsd"/>
	<xs:element name="Xuk">
		<xs:annotation>
			<xs:documentation>
				The Xuk element is the root element of a Xuk document
				- contains a single child representing a Project
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Project"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Project">
		<xs:annotation>
			<xs:documentation>
				The Project element represents a Project
				- contains a mPresentation child element containing elements representing the Presentations of the Propject
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mPresentations"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mPresentations">
		<xs:annotation>
			<xs:documentation>
				Container for elements representing Presentations
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Presentation"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Presentation">
		<xs:annotation>
			<xs:documentation>
				Representents a Presentation - has children and attributes representing the many objects owned by a Presentation
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mTreeNodeFactory" minOccurs="0" />
				<xs:element ref="mPropertyFactory" minOccurs="0" />
				<xs:element ref="mChannelFactory" minOccurs="0" />
				<xs:element ref="mChannelsManager" minOccurs="0" />
				<xs:element ref="mMediaFactory" minOccurs="0" />
				<xs:element ref="mDataProviderFactory" minOccurs="0" />
				<xs:element ref="mDataProviderManager" minOccurs="0" />
				<xs:element ref="mMediaDataFactory" minOccurs="0" />
				<xs:element ref="mMediaDataManager" minOccurs="0" />
				<xs:element ref="mCommandFactory" minOccurs="0" />
				<xs:element ref="mUndoRedoManager" minOccurs="0" />
				<xs:element ref="mMetadataFactory" minOccurs="0" />
				<xs:element ref="mMetadata" minOccurs="0"/>
				<xs:element ref="mRootNode"/>
			</xs:sequence>
			<xs:attribute name="language" type="xs:string"/>
			<xs:attribute name="rootUri" type="xs:anyURI"/>
		</xs:complexType>
		<xs:key name="channelItemKey">
			<xs:annotation>
				<xs:documentation>Key to identify channels</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="xuk:mChannelsManager/*/xuk:mChannels/xuk:mChannelItem"/>
			<xs:field xpath="@uid"/>
		</xs:key>
		<xs:key name="dataProviderItemKey">
			<xs:annotation>
				<xs:documentation>Key to identify data providers</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="xuk:mDataProviderManager/*/xuk:mDataProviders/xuk:mDataProviderItem"/>
			<xs:field xpath="@uid"/>
		</xs:key>
		<xs:key name="mediaDataItemKey">
			<xs:annotation>
				<xs:documentation>Key to identify media data</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="xuk:mMediaDataManager/*/xuk:mMediaData/xuk:mMediaDataItem"/>
			<xs:field xpath="@uid"/>
		</xs:key>
	</xs:element>
	<xs:element name="mTreeNodeFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a TreeNodeFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="TreeNodeFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TreeNodeFactory">
		<xs:complexType/>
	</xs:element>
	<xs:element name="mPropertyFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a PropertyFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="PropertyFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyFactory">
		<xs:complexType/>
	</xs:element>
	<xs:element name="mChannelFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a ChannelFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="ChannelFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mChannelsManager">
		<xs:annotation>
			<xs:documentation>Container for an element representing a ChannelsManager</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="ChannelsManager"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mMediaFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a MediaFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="MediaFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mDataProviderFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a DataPropertyFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="DataProviderFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mDataProviderManager">
		<xs:annotation>
			<xs:documentation>Container for an element representing a FileDataProviderManager</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="FileDataProviderManager"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mMediaDataFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a MediaDataFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="MediaDataFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mMediaDataManager">
		<xs:annotation>
			<xs:documentation>Container for an element representing a MediaDataManager</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="MediaDataManager"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mCommandFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a CommandFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="CommandFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mUndoRedoManager">
		<xs:annotation>
			<xs:documentation>Container for an element representing a UndoRedoManager</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="UndoRedoManager"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mMetadataFactory">
		<xs:annotation>
			<xs:documentation>Container for an element representing a MetadataFactory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="MetadataFactory"/>
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mMetadata">
		<xs:annotation>
			<xs:documentation>Container for the Metadata of a Presentation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Metadata"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mRootNode">
		<xs:annotation>
			<xs:documentation>Container for the root TreeNode of a Presentation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="TreeNode"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TreeNode">
		<xs:annotation>
			<xs:documentation>Element representing a TreeNode</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mProperties"/>
				<xs:element ref="mChildren"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mChildren">
		<xs:annotation>
			<xs:documentation>Container for the child TreeNodes of a TreeNode</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TreeNode"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mProperties">
		<xs:annotation>
			<xs:documentation>Container for the Properties associated with a TreeNode</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="XmlProperty"/>
				<xs:element ref="ChannelsProperty"/>
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
